body {
  background-color: #2b2b2b;
}

.hero {
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
    url('./assets/margherita.jpg') center/cover no-repeat;
  height: 70vh;
}

.menu-section {
  background-color: #333;
}

.book-table {
  background-color: #2b2b2b;
}

.card {
  border: none;
}

.card img {
  height: 200px;
  object-fit: cover;
}
